<div>
<form (ngSubmit)="getcheapestCar(dateStart, dateFinish, isLoyaltyProgram)">   
 
  <h3>Find cheapest Car</h3>

  <label>Start Date:
      <input type="date" name="dateStart" size="10" [(ngModel)]="dateStart"/>
  </label><br/><br/>

  <label>Finish Date:
      <input type="date" name="dateFinish" size="10" [(ngModel)]="dateFinish"/>
  </label><br/><br/>

  <label>Loyalty Program:
      <input type="radio" name="isLoyaltyProgram" [(ngModel)]="isLoyaltyProgram" [value]="true">Sim
      <input type="radio" name="isLoyaltyProgram" [(ngModel)]="isLoyaltyProgram" [value]="false">Não<br>
  </label><br/>

  <button type="submit">Find</button>
</form>
<br/>
</div>

<div class="form-row" *ngIf="car != null">
    <table id="table-cheapest" class="table">
        <thead>
            <tr class="table-primary">
                <th scope="col" class="align-midle">Model</th>
                <th scope="col" class="align-midle">manufacturer</th>
                <th scope="col" class="align-midle">Category</th>
                <th scope="col" class="align-midle">Model year</th>
                <th scope="col" class="align-midle">Total rental</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ car.model }}</td>
                <td>{{ car.manufacturer }}</td>
                <td>{{ car.category }}</td>
                <td>{{ car.modelYear }}</td>
                <td>{{ car.totalRental }}</td>
            </tr>
        </tbody>
    </table>
</div>

