<h3>Add New car</h3>
<form class="container" [formGroup]="carForm" (ngSubmit)="addCar(carForm.value)">
  <mat-form-field>
    <input matInput name="model" placeholder="Model" formControlName="model">
  </mat-form-field>
  <mat-form-field>
    <input matInput name="manufacturer" placeholder="Manufacturer" formControlName="manufacturer">
  </mat-form-field>
  <mat-form-field>
    <input matInput name="modelYear" placeholder="Model year" formControlName="modelYear">
  </mat-form-field>

  <mat-form-field>
    <input matInput name="category" placeholder="Category" formControlName="category">
  </mat-form-field>

  <mat-form-field>
    <input matInput name="weekDayPrice" placeholder="Week Day Price" formControlName="weekDayPrice">
  </mat-form-field>

  <mat-form-field>
    <input matInput name="weekendDayPrice" placeholder="Weekend Day Price" formControlName="weekendDayPrice">
  </mat-form-field>

  <mat-form-field>
    <input matInput name="weekDayPriceLoyalty" placeholder="WeekDay Price Loyalty"
      formControlName="weekDayPriceLoyalty">
  </mat-form-field>

  <mat-form-field>
    <input matInput name="weekendDayPriceLoyalty" placeholder="WeekendDay Price Loyalty"
      formControlName="weekendDayPriceLoyalty">
  </mat-form-field>

  <div style="margin-bottom: 15px">
    <button type="submit" [disabled]="!carForm.valid" mat-button
      style="width: 100px;   background-color: #7b1fa2; color: #fff; border-radius: 5px">Submit</button>
  </div>
</form>