<div>
    <h3>List of Cars</h3>
  </div>  
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 95%">
  
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Cod </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef> Model </th>
      <td mat-cell *matCellDef="let element"> {{element.model}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="manufacturer">
      <th mat-header-cell *matHeaderCellDef> Manufacturer </th>
      <td mat-cell *matCellDef="let element"> {{element.manufacturer}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="modelYear">
      <th mat-header-cell *matHeaderCellDef> Model Year </th>
      <td mat-cell *matCellDef="let element"> {{element.modelYear}} </td>
    </ng-container>
    
    <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Category </th>
        <td mat-cell *matCellDef="let element"> {{element.category}} </td>
      </ng-container>
    
    
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> * </th>
        <td mat-cell *matCellDef="let element"> 
          
        <button (click)="deleteCar(element.id)">
          <mat-icon matSuffix>delete</mat-icon>  
        </button>
        </td>
      
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
  </table>