/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button {
    width: 100px; background-color: #7b1fa2; color: #fff; border-radius: 5px;
}